body{
  background: #100E1D;
}

.App{
  background: #100E1D;
  color: #E7E7EB;
  display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto 50% auto;
  grid-template-areas:
      'sidebar sidebar sidebar sidebar '
      'header header  header  header'
      'highl highl   highl  highl';
}


@media only screen and (min-width: 700px) {
body{
  background: #100E1D;
}


.App{
  background: #100E1D;
  color: #E7E7EB;
  display: grid;
   grid-template-columns: auto 25% 25% 25%;
   grid-template-rows: 25% 20%  auto;
  grid-template-areas:
      'sidebar header header header'
      'sidebar header  header  header'
      'sidebar highl  highl  highl';
}

  .remains{
    grid-area: remain;
    width: 100%;
    display: block;
      background: #100E1D;
    }

}
